* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #dbd8e3;
  color: #2a2438;
  font-family: sans-serif;
  padding: 15px;
  /* text-align: center; */
}

h2 {
  font-weight: normal;
  font-size: 20px;
}

a:link,
a:visited {
  color: #322255;
  /* font-weight: bold; */
  /* text-decoration: none; */
}

a:hover,
a:active {
  /* color: black; */
  text-decoration: underline;
}

.swagger-link {
  display: inline-block;
  margin-top: 15px;
  font-size: 20px;
  /* border: 2px #322255 solid; */
  /* border-radius: 8px; */
  /* padding: 4px 10px; */
}
