:root {
  --background-color: #dbd8e3;
  --text-color: #2a2438;
}

body {
  background: var(--background-color);
  margin-top: -35px;
  margin-left: -16px;
}
.swagger-ui .scheme-container {
  background: var(--background-color);
  padding: 0 0 30px 0;
}
.topbar {
  display: none;
}
.swagger-ui .info {
  margin-bottom: 0px;
}
.swagger-ui .info .title {
  font-size: 32px;
  color: var(--text-color);
}
.swagger-ui select {
  background: var(--background-color)
    url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path d='M13.418 7.859a.695.695 0 0 1 .978 0 .68.68 0 0 1 0 .969l-3.908 3.83a.697.697 0 0 1-.979 0l-3.908-3.83a.68.68 0 0 1 0-.969.695.695 0 0 1 .978 0L10 11l3.418-3.141z'/></svg>")
    right 10px center no-repeat;
  box-shadow: 0 1px 2px 0 var(--background-color);
}
.swagger-ui .opblock .opblock-section-header {
  background: var(--background-color);
}
